<div class="container p-3 bg-secondary text-center text-white rounded">
    <h1>Employee Details </h1>
</div>

<div class="container mt-3">
    <h2>Employee ID : {{ employee.empId }}</h2>
    <p>Image at the top (card-img-top):</p>
    <div class="card" style="width:500px">
        <img class="card-img-top" src="/assets/images/logo.png" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">{{ employee.firstName }} {{ employee.lastName }}</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">{{ employee.emailId }}</a>
        </div>
    </div>
</div>